In [1]:
import pandas as pd #importing pandas

In [2]:
df = pd.read_csv('penguins.csv') #reading in the data
df #displaying data

,studyName,SampleNumber,Species,Region,Island,Stage,IndividualID,ClutchCompletion,DateEgg,CulmenLength_mm,CulmenDepth_mm,FlipperLength_mm,BodyMass_g,Sex,Delta15N,Delta13C,Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,PAL0910,120,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N38A2,No,12/1/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,PAL0910,121,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A1,Yes,11/22/09,46.8,14.3,215.0,4850.0,FEMALE,8.41151,-26.13832,NaN
341,PAL0910,122,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A2,Yes,11/22/09,50.4,15.7,222.0,5750.0,MALE,8.30166,-26.04117,NaN
342,PAL0910,123,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A1,Yes,11/22/09,45.2,14.8,212.0,5200.0,FEMALE,8.24246,-26.11969,NaN
343,PAL0910,124,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A2,Yes,11/22/09,49.9,16.1,213.0,5400.0,MALE,8.36390,-26.15531,NaN

In [3]:
df.columns #displaying names of columns

Index(['studyName', 'SampleNumber', 'Species', 'Region', 'Island', 'Stage',
       'IndividualID', 'ClutchCompletion', 'DateEgg', 'CulmenLength_mm',
       'CulmenDepth_mm', 'FlipperLength_mm', 'BodyMass_g', 'Sex', 'Delta15N',
       'Delta13C', 'Comments'],
      dtype='object')

In [4]:
df2 = df[['Island', 'CulmenLength_mm','CulmenDepth_mm', 'FlipperLength_mm', 'BodyMass_g', 'Sex', 'Delta15N','Delta13C']] #feature selection
df2 = df2[df2['Sex'] != '.'] #deleting entries that have "." as entry for Sex since we do not know is it male or female
df2 = df2.dropna() #drops all na values, there were some na values in the Sex column
df2['Sex'].unique() #shows unique elements in 'Sex' columns - just to ensure we onyl have male and female.

array(['FEMALE', 'MALE'], dtype=object)

In [5]:
df3 = df2 #makes a copy of the dataframe
df3['Sex'] = df2['Sex'].replace('FEMALE',0) #codes females to 0
df3['Sex'] = df2['Sex'].replace('MALE',1) #codes males to 1 
df3 #shows the previous 2 updates

,Island,CulmenLength_mm,CulmenDepth_mm,FlipperLength_mm,BodyMass_g,Sex,Delta15N,Delta13C
1,Torgersen,39.5,17.4,186.0,3800.0,0,8.94956,-24.69454
2,Torgersen,40.3,18.0,195.0,3250.0,0,8.36821,-25.33302
4,Torgersen,36.7,19.3,193.0,3450.0,0,8.76651,-25.32426
5,Torgersen,39.3,20.6,190.0,3650.0,1,8.66496,-25.29805
6,Torgersen,38.9,17.8,181.0,3625.0,0,9.18718,-25.21799
...,...,...,...,...,...,...,...,...
338,Biscoe,47.2,13.7,214.0,4925.0,0,7.99184,-26.20538
340,Biscoe,46.8,14.3,215.0,4850.0,0,8.41151,-26.13832
341,Biscoe,50.4,15.7,222.0,5750.0,1,8.30166,-26.04117
342,Biscoe,45.2,14.8,212.0,5200.0,0,8.24246,-26.11969
343,Biscoe,49.9,16.1,213.0,5400.0,1,8.36390,-26.15531

In [6]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #used to create a label encoder
df3['Island'] = le.fit_transform(df3['Island']) #encodes Islands to numbers so they are usable by decision tree

In [7]:
from sklearn.model_selection import train_test_split

# Split the data into training and test sets, with 80% for training and 20% for testing
train_data, test_data = train_test_split(df3, test_size=0.2, random_state=42) 

# Separate the predictor variables and the variable to predict
predictors_train = train_data.drop('Sex', axis=1)
predictors_test = test_data.drop('Sex', axis=1)
target_train = train_data['Sex']
target_test = test_data['Sex']

In [8]:
clf = DecisionTreeClassifier(random_state=20) #creates clf which is a decision tree model
clf.fit(predictors_train, target_train) #trains the model based on training data

# Make predictions on the test data
preds = clf.predict(predictors_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(target_test, preds)
print('Accuracy:', accuracy)

Accuracy: 0.8769230769230769

In [9]:
from sklearn.ensemble import RandomForestClassifier

clf_forrest = RandomForestClassifier(n_estimators=1000, random_state=20) #creates clf_forrest which is a random forrest model
clf_forrest.fit(predictors_train, target_train) #train the random forrest model 

# Make predictions on the test data
preds_forrest = clf_forrest.predict(predictors_test)

# Calculate the accuracy of the model
accuracy_forrest = accuracy_score(target_test, preds_forrest)
print('Accuracy:', accuracy_forrest)

Accuracy: 0.9230769230769231